# Compiled source files
__pycache__/
*.pyc

# Environment
.envrc
.env

# Secret information
config_secret.py

# IDE files
.idea/
tags

# Trash
.DS_Store

# MyPy cache
.mypy_cache/

# Cloned Git repositories
tmp/