html {
    background: #f5f7fa;
}

body {
    color: #69707a;
    line-height: 1.5;
    font-family: "Helvetica";
}

ul, li {
    list-style-type: square;
}

a {
    color: #3498db;
}

span {
    vertical-align: middle;
}

.centered-text {
    text-align: center;
}

.black {
    color: #000000;
}

.grey {
    color: #69707a;
}

.mint {
    color: #1abc9c;
}

.blue {
    color: #3498db;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: #ffffff;
}

.alert {
    border-radius: 0;
}

.reportcard {    
    background-image: url('../image/pyback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reportcard .reportcard-content {
    padding: 120px 0;
}

.reportcard .reportcard-content .title {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
}

.reportcard .reportcard-content .input-group {
    min-width: 360px;
    margin: 15px auto;
}

.reportcard .reportcard-content .input-group input {
    padding: 22px 10px;
    font-size: 18px;
}

.reportcard .reportcard-content .input-group button {
    padding: 10px 30px;
    font-size: 16px;
}

.results-container {
    padding-top: 50px;
}

.results {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.results-summary {
    padding: 0 15px;
}

.results-summary .title {
    font-weight: 300;
}

.results-details {
    margin: 20px 0;
    overflow: auto;
}

.results-details .details-section {
    overflow: auto;
}

.results-details .section-content .content-description {
    font-weight: 300;
}

.about {
    padding: 60px 120px;
}

.about .title {
    font-size: 24px;
    font-weight: 300;
}

.footer {
    padding: 40px 20px 80px;
    background: #f5f7fa;
    text-align: center;
}
