{% extends "base.html" %}

{% block content %}
<div class="about">
  <div class="title">
    About
  </div>
  <hr>
  <div class="description">
    <p>
        A report card for your Python application.    
    </p> 
    <p>
        This inspects a python project is hosted on Github and analyze the source code quality (PEP8 and Pyflakes), existence of license file, test coverage, and some statistics of codebase. Then shows its analysis results to user.
    </p>
  </div>
</div>
{% endblock content %}