<!DOCTYPE HTML>
<html>
<head>
    <title>Python Report Card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pyreportcard.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body>
    {% include "header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}
</body>
</html>